<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="console"></appender-ref>
    </root>

</configuration>